In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("cell_towers_2018-04-22-T10-00-01.csv")
data.head()

,radio,mcc,net,area,cell,unit,lon,lat,range,samples,changeable,created,updated,averageSignal
0,UMTS,262,2,801,86355,0,13.285512,52.522202,1000,7,1,1282569574,1300155341,0
1,GSM,262,2,801,1795,0,13.276907,52.525714,5716,9,1,1282569574,1300155341,0
2,GSM,262,2,801,1794,0,13.285064,52.524000,6280,13,1,1282569574,1300796207,0
3,UMTS,262,2,801,211250,0,13.285446,52.521744,1000,3,1,1282569574,1299466955,0
4,UMTS,262,2,801,86353,0,13.293457,52.521515,1000,2,1,1282569574,1291380444,0

#to correspond Moscow

55.3782191982 36.8889055555 56.0664418225 38.074172401300004

In [3]:
moscow_data = data[(data.lat >= 55.3782191982) & (data.lat <= 56.0664418225) & \
                   (data.lon >= 36.8889055555) & (data.lon <= 38.074172401300004)]

In [4]:
moscow_data.head()

,radio,mcc,net,area,cell,unit,lon,lat,range,samples,changeable,created,updated,averageSignal
90250,GSM,250,35,7744,35168,0,37.748337,55.639572,1000,1,1,1459814853,1459779138,0
206535,GSM,250,1,6402,29652,0,37.638832,55.740240,1000,23,1,1459707933,1486188885,0
206655,GSM,250,2,7799,17093,0,37.592812,55.781708,1000,4,1,1459810852,1483019363,0
296941,GSM,250,35,7711,33918,0,37.484665,55.617599,1000,1,1,1459814853,1459779138,0
296942,GSM,250,2,5058,10360,0,37.891159,55.710297,1000,2,1,1459814852,1461557623,0

In [5]:
moscow_data.shape

(454357, 14)

In [6]:
moscow_data.to_csv("moscow_cellular_towers.csv",index=False)